<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <i
      class="fa-solid fa-chevron-down icon icon--small collapsible__chevron"
    ></i>
  </header>
  <div class="collapsible__content">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam aperiam alias
    laborum animi error vitae numquam cum iusto? Expedita, blanditiis!
  </div>
</div>
<script src="./Moshify/code/Moshify/js/main.js"></script>
