<section class="block container">
  <header class="block__header">
    <h2>Host On The Cloud To Keep Growing</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus,
      maxime. Ipsum dolor ipsum dolor sit amet.
    </p>
  </header>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary icon--small">
          <use xlink:href="image/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique at
        reiciendis accusantium expedita dolorum recusandae deserunt consequuntur
        quis temporibus commodi. Doloribus provident illo eos recusandae, culpa
        modi hic ab nulla.
      </p>
      <a href="#" class="link-arrow">Learn more</a>
    </div>
    <img src="./Moshify/images/easy.webp" alt="" />
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary icon--small">
          <use xlink:href="image/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique at
        reiciendis accusantium expedita dolorum recusandae deserunt consequuntur
        quis temporibus commodi. Doloribus provident illo eos recusandae, culpa
        modi hic ab nulla.
      </p>
      <a href="#" class="link-arrow">Learn more</a>
    </div>
    <img src="./Moshify/images/fast.webp" alt="" />
  </article>
</section>
