<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img
        src="./Moshify/images/testimonial.jpg"
        alt="happy, smiling costumer"
      />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="image/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote testimonial__quote">
      <p class="quote__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed culpa illo
        cumque quae aspernatur debitis, perspiciatis odit quam neque rerum!
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon quote__icon">
              <use xlink:href="image/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Andrea Hurtado</h3>
            <p class="quote__organization">Starfy Community CEO</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
